@import "../../App.css";

.custom .row {
  margin-top: -100px;
}
.custom {
  margin-bottom: 200px;
}
.custom .box {
  overflow: hidden;
}
.custom img {
  height: 400px;
  -o-object-fit: cover;
  width: 100%;
  object-fit: cover;
}
.custom .box:hover img {
  -o-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
